
    <div class="nav-bar">
        <button 
            style="margin-right: 20px;"
            mat-button
            color="primary"
            (click)="goToIndex()">Home</button>
    </div>
    <div>
        <button 
        mat-button
        color="primary"
        (click)="goToProfile()">{{user.Username}}</button>
    </div>
    <span class="spacer"></span>
    <button
    mat-button
    (click)="userLogOut()"
    color="warn"
    style="display: flex; justify-content:flex-end;"
    >
    Logout
    </button>
